<h1>Cards on a Screen</h1>
<div id="toolbox">
<span id="new_white_card_button" class="button">New Card</span>
<span id="new_red_card_button" class="button">New Card</span>
</div>
<div id="delete_area">Drag cards here to trash them</div>

<div id="cards">
<%= render :partial => "card", :collection => @cards %>
</div>

