// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body, div, span, textarea {
	font-family: Helvetica, sans-serif;
	font-size: 12pt;
}

#toolbox {
  height:130px;
}

.card {
	border: black solid 1px;
	height: 150px;
	width: 250px;
	padding: 10px;
	position: absolute;
}

span.database_id {
	display: none;
}

.button {
	border: black solid 1px;
	height: 75px;
	width: 125px;
	padding: 10px;
	text-align: left;
	padding: 2px;
	margin: 5px;
}

#new_white_card_button {
	background-color: #FFFFFF;
	position:absolute;
}

#new_red_card_button {
	background-color: #FF0000;
	position:absolute;
	left:150px;
}

#delete_area {
	background-color: #ee5555;
	width: 236px;
}

.card textarea {
	height: 150px;
	width: 250px;
	background-color: #dddddd;
	border: none;
}

#delete_area.droppable-hover-state {
	background-color: lightblue;
	border: 2px solid yellow;
}

