// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.card {
	background-color: #eeeeee;
	border: black solid 1px;
	height: 150px;
	width: 250px;
	padding: 10px;
	position: absolute;
}

span.database_id {
	display: none;
}

#new_card_button {
	background-color: #55aa00;
	width: 100px;
	height: 20px;
	text-align: center;
}